APP_NAME=2608B_iCloud
DEBUG=false

ICLOUD_DOMAIN=icloud.com

# 加载 accounts/ 下全部 .txt
# 每个 txt：每行一个账户
#   备注名|完整 cookie 字符串
ACCOUNTS_FILES=accounts/

CLIENT_BUILD=2610Hotfix23
CLIENT_ID=37bd9669-50c3-4d52-af42-1d240d3ac4f3
